{% extends "baseguestbook.html" %}

{% block title %}Vnosna stran{% endblock title %}

{% block specifika %}

<form action="/rezultat" method="post">
        Vnesi ime:<br>
        <input name="ime">
        <br>
        Vnesi priimek:<br>
        <input name="priimek">
        <br>
        Vnesi email:<br>
        <input name="email">
        <br>
        Vnesi sporocilo:<br>
        <input name="sporocilo" required>
        <br>
        <button type="submit" class="myButton">OK</button>
</form>
{% endblock specifika %}